.react-calendar {
  @apply w-full bg-none rounded-xl shadow-sm p-4 border-none font-light;
  font-family: 'Poppins', sans-serif;
}

.react-calendar__navigation {
  @apply flex mb-4;
}

.react-calendar__navigation__label {
  font-family: 'Ledger', serif;
  @apply text-lg text-gray-800 font-light;
}

.react-calendar__navigation__arrow {
  @apply flex flex-grow-[0.3] text-gray-600 hover:text-gray-800 transition-colors;
}

.react-calendar__month-view__weekdays {
  @apply text-center mb-2;
}

.react-calendar__month-view__weekdays__weekday {
  @apply text-sm text-gray-500 font-light;
  font-family: 'Poppins', sans-serif;
}

.react-calendar__tile {
  max-width: initial !important;
  @apply text-sm font-light text-gray-700 rounded-lg transition-all duration-200;
  font-family: 'Poppins', sans-serif;
}

.react-calendar__tile:enabled:hover {
  @apply bg-gray-50;
}

.react-calendar__tile--now {
  @apply bg-blue-50 text-primary-blue;
}

.react-calendar__tile--now:enabled:hover {
  @apply bg-blue-100;
}

.booked-day {
  @apply bg-primary-blue text-white font-normal;
}

.booked-day:hover {
  @apply bg-primary-blue/90;
}

.react-calendar__tile--booked {
  @apply bg-primary-blue text-white
}
.react-calendar__tile--not-available {
  @apply text-red-500 line-through
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;
}

.react-calendar__month-view__days__day--neighboringMonth {
  @apply text-gray-400;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  @apply bg-gray-50 rounded-lg;
}

.react-calendar__navigation button,
.react-calendar__navigation button:disabled {
  @apply bg-transparent border-none;
}

.react-calendar__navigation__arrow {
  @apply flex text-center text-black items-center justify-center text-2xl;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none;
}
